<div class="nav">
    <h3 class="nav-title">Menu</h3>
    <a href="#" class="nav-close">
        <span class="hidden">Close</span>
    </a>
    <ul>
        <li class="nav-home {% if page.current == 'home' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}">Home</a></li>
        <li class="nav-essays {% if page.url contains 'essays' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}tag/essays">Essays</a></li>
        <li class="nav-UxP {% if page.url contains 'UxP' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}tag/UxP">UNIX and Python</a></li>
        <li class="nav-pytorch {% if page.url contains 'pytorch' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}tag/pytorch">Deeply PyTorch</a></li>
    </ul>
    <a class="subscribe-button icon-feed" href="{{ site.baseurl }}feed.xml">Subscribe</a>
</div>
<span class="nav-cover"></span>
